.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.tar.gz
*.tgz
*.Rcheck/
README.html
README.knit.md
docs/
src/*.o
src/**/*.o
src/*.so
src/**/*.so
src/*.dll
src/**/*.dll
src/*.dylib
src/**/*.dylib
src/Makevars
src/Makevars.win
src/rminibwa_simd_config.h
src/rmb-ksw/
src/rmb-cli/
config.log
.sync/
.local/
src/vendor/_archives/
vignettes/*.html
bench/python/
bench/rust-shim/target/
bench/rust-shim/Cargo.toml
bench/rust-shim/Cargo.lock
/doc/
/Meta/
