.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.tar.gz
*.tgz
*.Rcheck/
README.html
README.knit.md
src/Makevars
src/Makevars.win
src/*.o
src/*.so
src/*.dll
src/*.dylib
config.log
.sync/
.local/
src/vendor/_archives/
vignettes/*.html
/doc/
/Meta/
